body {
  padding-top: 20px;
  height: 100%;
}
.copyright {
  padding-right: 20px;
}
.ui.container {
height: 100%!important;
}

.ui.grid {
min-height: 100%!important;
}
.article {
  min-height: 600px;
}
.todo-list {
  list-style: none;
}

.todo-list li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}
